@font-face {
    font-family: Pokemon;
    src: url(Pokemon.ttf);
}

* {
    list-style: none;
}

body {
    background-color: #ced6e0
}

.container {
    max-width: 360px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#tipo,
#nome,
#tipo2,
#id {
    margin-left: 5px;
    text-transform: capitalize;
    font-weight: bold;
}



.--fire {
    background-color: 	#f34b4b;
    padding: 0 5px;
    border-radius: 5px;
    color: white;
}

.--grass {
    background-color: #70c8a0;
    padding: 0 5px;
    border-radius: 5px;
}

.--electric {
    background-color: yellow;
    padding: 0 5px;
    border-radius: 5px;
    
}

.--water {
    background-color: #5db9ff;
    padding: 0 5px;
    border-radius: 5px;
}

.--fighting {
    background-color: #d56723;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
}

.--normal {
    background-color: #a4acaf;
    padding: 0 5px;
    border-radius: 5px;
}

.--flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    padding: 0 5px;
    border-radius: 5px;
}

.--poison {
    background-color: #b97fc9;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
}

.--ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    padding: 0 5px;
    border-radius: 5px;
}

.--fairy {
    background-color: #fdb9e9;
    padding: 0 5px;
    border-radius: 5px;
}

.--rock {
    background-color: #a38c21;
    padding: 0 5px;
    border-radius: 5px;
}

.--bug {
    background-color: #729f3f;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
}

.--ice {
    background-color: #51c4e7;
    padding: 0 5px;
    border-radius: 5px;
}

.--dark {
    background-color: #707070;
    padding: 0 5px;
    border-radius: 5px;
}

.--dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
}

.--psychic  {
    background-color: #f366b9;
    padding: 0 5px;
    border-radius: 5px;
}

.--ghost {
    background-color: #7b62a3;
    padding: 0 5px;
    border-radius: 5px;
}

.--steel {
    background-color: #9eb7b8;
    padding: 0 5px;
    border-radius: 5px;
}


#title {
    text-align: center;
    margin: 0;
    font-family: Pokemon;
}

.content {
    display: block;
    
}

.form {
    max-width: 80%;
    text-align: center;
    margin: 0 auto; 
}

.form-control {
    display: flex;
    text-align: center;
    max-width: 360px;
    width: 100%;
    
}

.form-control:focus {
    border: none;
}

#button {
    margin-top: 5px;
}